@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  background-color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu-btn {
  width: 34px;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__menu-btn__line {
  width: 25.5px;
  height: 4px;
  background-color: #282B22;
}

.header__list {
  display: none;
  align-items: center;
  gap: 30px;
}

.header__item__link {
  color: #282B22;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}

.header__tablet-wrp {
  display: none;
  align-items: center;
  gap: 50px;
  margin-right: 50px;
}

.header__socials {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__tel {
  font-family: "Lato";
  padding-left: 29px;
  color: #3D4A39;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}

.header-chost {
  height: 73.44px;
}

@media screen and (min-width: 640px) {
  .header__tablet-wrp {
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  .header__menu-btn {
    display: none;
  }
  .header__tablet-wrp {
    margin-right: 0;
  }
  .header__list {
    display: flex;
  }
}
.hero {
  padding-top: 70px;
  padding-bottom: 124px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/hero-bg.jpg");
  box-shadow: inset 0 -250px 150px rgba(0, 0, 0, 0.8509803922);
}

.hero__content {
  max-width: 537px;
  text-align: center;
  margin: 0 auto;
}

.hero__title {
  max-width: 446px;
  margin: 0 auto;
  margin-bottom: 28px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
}

.hero__text {
  margin-bottom: 30px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.2px;
}

.hero__link {
  padding: 22px 72px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.0509803922);
  background-color: #AE7B3C;
  transition: all 0.2s ease-in-out;
}

.hero__link:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 640px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 222px;
  }
  .hero__title {
    font-size: 56px;
    line-height: 67.2px;
  }
  .hero__text {
    font-weight: 500;
    line-height: 27px;
  }
}
.directions {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #FFFFFF;
}

.directions__title {
  width: 252px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: #282B22;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: center;
}

.directions__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}

.directions__item {
  margin-bottom: 50px;
}

.directions__item__id {
  margin-bottom: 20px;
  display: block;
  color: #282B22;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  opacity: 50%;
}

.directions__item__name {
  margin-bottom: 15px;
  color: #3D4A39;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
}

.directions__item__img {
  max-width: 354px;
  height: 300px;
}

@media screen and (min-width: 640px) {
  .directions__list {
    justify-content: space-between;
  }
  .directions__title {
    width: 100%;
  }
  .directions__item {
    padding-right: 18px;
    padding-left: 18px;
    border-left: 1px solid #282B22;
  }
  .directions__item__id {
    margin-bottom: 40px;
  }
  .directions__item__name {
    margin-bottom: 30px;
  }
  .directions__item__img {
    width: 260px;
  }
}
@media screen and (min-width: 1000px) {
  .directions__list {
    justify-content: center;
  }
  .directions__item {
    margin-left: 28px;
    padding-right: 29px;
  }
}/*# sourceMappingURL=style.css.map */