.about{
    padding-top: 80px;
    padding-bottom: 80px;
}
.about__title{
    max-width: 814px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: $black;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
}
.about__item{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 28px;
    border-top: 1px solid #282b2233;
    border-bottom: 1px solid #282b2233;
    background-repeat: no-repeat;
    background-position: left 32px;
    background-image: url('../img/about-dot.svg');
}
.about__item:last-child{
    border-top: 0;
}
.about__text{
    color: $black;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.2px;
}

@media screen and (min-width: 640px) {
    .about__title{
        font-size: 28px;
        line-height: 36.4px;
    }
    .about__list{
        display: flex;        
    }
    .about__item{
        padding: 30px;
        padding-left: 58px;
        background-position: 30px 32px;
        border-right: 1px solid #282b2233;
    }
    .about__item:last-child{
        border-top: 1px solid #282b2233;
        border-right: 0;
    }
}