.gifts{
    background-color: $gray;
}
.gifts__wrapper{
    padding: 80px 40px;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    background-repeat: no-repeat;
    background-position: left center, right center;
    // background-image: url('../img/gifts-scope1.svg'), url('../img/gifts-scope2.svg');
}
.gifts__left, .gifts__right{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.gifts__gift-name{
    display: block;
    padding-left: 28px;
    color: $green;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.2px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url('../img/gift-icon.svg');
}
.gifts__content{
    text-align: center;
}
.gifts__title{
    width: 80%;
    margin: 0 auto; 
    margin-bottom: 20px;
    color: $black;
    font-size: 24px;
    font-weight: 600;
    line-height: 32.4px;
}
.gifts__text{
    margin-bottom: 40px;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
}
.gifts__info-link{
    @include button;
    width: 100%;
}

@media screen and (min-width: 640px) {
    .gifts__wrapper{
        background-image: url('../img/gifts-scope1.svg'), url('../img/gifts-scope2.svg');
    }
    .gifts__content{
        width: 355px;
    }
    .gifts__title{
        font-size: 36px;
        font-weight: 600;
        line-height: 45px;
    }
}
@media screen and (min-width: 1000px) {
    .gifts__left, .gifts__right{
        display: flex;
    }
}