.partners{
    padding-top: 80px;
    padding-bottom: 80px;
}
.partners__wrapper{
    text-align: center;
}
.partners__title{
    margin-bottom: 40px;
    color: $black;
    font-size: 24px;
    font-weight: 600;
    line-height: 32.4px;
}
.partners__list{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.partners__item{
    width: 145px;
    height: 56px;
    padding: 14px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #282B22
}
.partners__item:nth-child(3), .partners__item:nth-child(4){
    display: none;
}
.partners__arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.partners__arrow{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #3D4A39;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.partners__arrow:hover{
    transform: scale(1.05);
}

@media screen and (min-width: 640px) {
    .partners__title{
        font-size: 36px;
        font-weight: 600;
        line-height: 45px;
    }
    .partners__item{
        width: 290px;
        height: 90px;
        padding: 21px 69px;
    }
}
@media screen and (min-width: 1000px) {
    .partners__title{
        margin-bottom: 60px;
        font-size: 46px;
        font-weight: 600;
        line-height: 57.5px;
    }
    .partners__item{
        width: 225px;
        height: 90px;
        padding: 21px 30px;
    }
    .partners__item:nth-child(3), .partners__item:nth-child(4){
        display: block;
    }
    .partners__arrow{
        width: 55px;
        height: 55px;
    }
}